.header {
  text-align: center;
  padding: 2rem 0;
  background-color: #000000;
}

.light {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #607d8b;
}

.split {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  .split {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.left {
  width: 99%;
}

@media only screen and (min-width: 600px) {
  .left {
    width: 25%;
  }
}

.left a {
  color: #0000ee;
}

.right {
  width: 99%;
}

@media only screen and (min-width: 600px) {
  .right {
    width: 75%;
  }
}

.header h1,
.header h2 {
  color: #fff;
}
