.header {
  text-align: center;
  padding: 2rem 0;
  background-color: #000000;
}

.light {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #607d8b;
}

.split {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.left {
  width: 25%;
}

.left > pre {
  width: 90%;
}

.left a {
  color: #0000ee;
}

.right {
  width: 75%;
}

.header h1,
.header h2 {
  color: #fff;
}
